!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/1140.css')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/player.js')
    script(type='text/javascript', src='/javascripts/css3-mediaqueries.js')
  body!= body
